<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTestSuite" verbose="1">
    <test name="ParallelTest" parallel="methods">
        <classes>
            <class name="test.testng.test.parallel.ParallelTest"/>
        </classes>
    </test>
</suite>
