<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IgnoreTestSuite" verbose="1">
    <test name="IgnoreTest">
        <groups>
            <run>
                <exclude name="test.ignore"/>
            </run>
        </groups>

        <classes>
            <class name="test.testng.test.ignore.IgnoreTest"/>
        </classes>
    </test>
</suite>