<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RunTestSuite" verbose="1">
    <test name="RunTest">
        <groups>
            <run>
                <exclude name="test.ignore"/>
            </run>
        </groups>

        <packages>
            <package name="test.testng.test.ignore"/>
        </packages>
    </test>
</suite>