<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="OrderTest">
        <parameter name="hotelId" value="1098009332"/>

        <groups>
            <run>
                <include name="test.login.*"/>
                <include name="test.order.lock"/>
            </run>

            <dependencies>
                <group name="test.order.lock" depends-on="test.login.userInfo"/>
            </dependencies>
        </groups>

        <packages>
            <package name="test.testng.test.example"/>
        </packages>
    </test>
</suite>