<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 上下文名称 -->
    <contextName>demo-server</contextName>

    <!-- 日志文件保存路径 -->
    <property name="LOG_PATH" value="/opt/logs/"/>
    <!-- 外部jar打印日志级别 -->
    <property name="logger.outside.logLevel" value="INFO"/>
    <!-- 项目内打印日志级别 -->
    <property name="logger.logLevel" value="INFO"/>

    <!-- 本地开发控制台日志输出设置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 可以指定字符集，对于中文输出有意义 -->
        <encoder>
            <charset>UTF-8</charset>
            <!-- %.-1level 只显示信息级别的首字母,%-5level 左对齐显示信息级别全称 -->
            <!-- 如需自定义关键字，用 %mdc{键名} 表示,程序中用MDC.put("键名","键值")设置，可动态设置 [%logger:%line]-->
            <Pattern>
                [%date{yyyy-MM-dd HH:mm:ss}] |- %-5level %logger %line [t: %t] --%mdc{client} [%X{TRACE_ID}] %msg %n
            </Pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/report_service.log</File>
        <encoder>
            <Pattern>
                [%date{yyyy-MM-dd HH:mm:ss}] |- %-5level %logger %line [t: %t] --%mdc{client} [%X{TRACE_ID}] %msg %n
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 存档文件命名格式 -->
            <fileNamePattern>
                ${LOG_PATH}/report_service.info.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 单个文件滚动大小 -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 最多保留最近x天 -->
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 外部jar包 日志级别设置 -->
    <logger level="${logger.outside.logLevel}" name="org.springframework"/>
    <logger level="${logger.outside.logLevel}" name="java.sql.PreparedStatement"/>
    <logger level="${logger.outside.logLevel}" name="java.sql"/>
    <logger level="${logger.outside.logLevel}" name="org.apache.commons"/>
    <logger level="${logger.outside.logLevel}" name="java.sql.Statement"/>
    <logger level="${logger.outside.logLevel}" name="org.apache.zookeeper"/>
    <logger level="${logger.outside.logLevel}" name="com.alibaba.dubbo"/>
    <logger level="${logger.outside.logLevel}" name="org.dozer"/>
    <logger level="${logger.outside.logLevel}" name="com.ibatis"/>
    <logger level="${logger.outside.logLevel}" name="org.jdbcdslog"/>

    <!-- 输出到控制台和文件，可定义更多的 Appender -->
    <root level="${logger.logLevel}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="INFO_FILE"/>
    </root>

</configuration>