<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FailRetryTestSuite" verbose="1">
    <test name="FailRetryTest">
        <classes>
            <class name="test.testng.test.failretry.FailRetryTest"/>
        </classes>
    </test>
</suite>
