<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Suite">
    <test name="Login Test" allow-return-values="true">
        <groups>
            <run>
                <include name="loginTestGroup"/>
            </run>
        </groups>

        <classes>
            <class name="test.testng.unit.TestLogin"/>
        </classes>
    </test>
</suite>